.login-warp{width: 100%;margin: 15px auto;background-size: cover;}
.login-warp .login{width: 1200px;}
.login-warp .login_box{
    width: 460px;
    background: #2b2b36;
    border: 1px solid #ddd;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    -o-border-radius: 17px;
    margin: 3% auto 0 auto;
    position: relative;
}
.login_switch{height: 50px;width: 100%;}
.login_switch ul{overflow: hidden;float:right;margin: 0;}
.login_switch ul li{float: left;margin-right: 10px;margin-top:10px;}
.login_switch ul li a{color:#fff;}
.form_box{text-align: center;}
.form_box .avtar{color:#fff;font-size: 29px;}
.form_box form input{width: 60%;padding: 1em 2em 1em 3em;color: #9199aa;font-size: 18px;outline: none;border: none;font-weight: 100;border-bottom: 1px solid#484856;margin-top: 2em;}
.form_box form input.username_text{background: url(images/default/adm.png) no-repeat 10px 19px;}
.form_box form input.password{background: url(images/default/key.png) no-repeat 10px 25px;}
.form_box form input.phoneNo{background: url(images/default/timg.png) no-repeat 10px 19px;}
.form_box .signin input[type="submit"]{
    font-size: 30px;
    color: #fff;
    outline: none;
    border: none;
    background: #3ea751;
    width: 100%;
    padding: 18px 0;
    border-bottom-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-bottom-left-radius: 15px;
    -o-border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-bottom-right-radius: 15px;
    -o-border-bottom-right-radius: 15px;
    cursor: pointer;
}
.form_box .signin input[type="submit"]:hover{
    background: #ffd727;
    border-bottom-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-bottom-left-radius: 15px;
    -o-border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-bottom-right-radius: 15px;
    -o-border-bottom-right-radius: 15px;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
}
.form_box .msg_box{height: 53px;position:relative;}
.form_box .msg_box .msg_text{display:none; color: #f00;font-size: 16px;position:absolute;top:16px;left:135px;}
.form_box .msg_box .msg_text::before{content:' ';display: inline-block;width:21px;height:21px;background: url('images/default/text_err.png');vertical-align: middle;margin-right:10px;}

form .register_msg{height: 36px;position:relative;}
form .register_msg span{display:none;position: absolute;top:3px;left:50px;color:#f00;font-size: 14px;}
.mask{display:none;position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.7);}
.mask .mask-content{width:500px;height:350px;background: #fff;border-radius: 8px;position: fixed;top:50%;left:50%;margin-top:-175px;margin-left:-250px;text-align: center;border:1px solid transparent;}
.mask .mask-content p{font-size: 20px;font-weight: bold;margin-top:40px;}
.mask .mask-content .mask-text{font-size: 18px;color:red;margin-top:60px;}
.mask .mask-content span.close{position: absolute;top:-7px;right:-7px;width:25px;height:25px;font-size: 25px;line-height: 25px;font-weight: bold;background:#484856;color:#fff;border-radius: 50%;transform:rotate(45deg);cursor: pointer;}