<html>
	<head>
		<title>登录</title>
		<link type="text/css" rel="stylesheet" href="plugin/reset/normalize.min.css">
		<link type="text/css" rel="stylesheet" href="css/default.css" />
		<link type="text/css" rel="stylesheet" href="css/login.css">
	</head>
	<body>
		<div class="login-warp">
			<div class="login">
				<div class="login_box">
					<div class="login_switch">
						<ul>
							<li><a href="/register">用户注册>></a></li>
						</ul>
					</div>
					<div class="form_box">
						<div class="avtar">
							请填写有户名密码
						</div>
						<form action="">
							<input type="text" id="username" class="username_text" name="username" placeholder="* 用户名">
							<input type="password" id="password" class="password" name="password" placeholder="* 密码">
						</form>
						<div class="msg_box">
							<span class="msg_text"></span>
						</div>
						<div class="signin">
							<input type="submit" value="登录">
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="plugin/jquery-1.12.4/jquery.min.js"></script>
		
	</body>
</html>