<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>注册</title>
		<link type="text/css" rel="stylesheet" href="plugin/reset/normalize.min.css">
		<link type="text/css" rel="stylesheet" href="css/default.css" />
		<link type="text/css" rel="stylesheet" href="css/login.css">
	</head>
	<body>
		<div class="login-warp">
			<div class="login">
				<div class="login_box">
					<div class="form_box">
						<div class="avtar">
							<p style="color:#fff;font-size: 29px;margin-top:20px;"></p>用户注册</p>
						</div>
						<form action="">
							<div class="register_msg">
								<span id="resultMsg"></span>
							</div>
							<input style="margin-top:0px;" type="text" id="username" class="username_text" name="username" placeholder="* 用户名">
							<div class="register_msg">
								<span id="usernameMsg"></span>
							</div>
							<input style="margin-top:0px;" type="password" id="password" class="password" name="password" placeholder="* 密码">
							<div class="register_msg">
								<span id="passMsg0"></span>
							</div>
							<input style="margin-top:0px;" type="password" id="passwordSign"class="password" placeholder="* 确认密码">
							<div class="register_msg">
								<span id="passMsg1"></span>
							</div>
							<input style="margin-top:0px;" type="text" id="phoneNo" class="phoneNo" placeholder="* 手机号">
							<div class="register_msg">
								<span id="phoneMsg"></span>
							</div>
						</form>
						<div class="msg_box">
<!-- 							<span style="display: block;" class="msg_text">会员资费按浏览条数计费，0.5元/条</span> -->
						</div>
						<div class="signin">
							<input type="submit" value="注册成为会员">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mask">
			<div class="mask-content">
				<span class="close">+</span>
				<p>温馨提示：</p>
				<div class="mask-text"></div>
			</div>
		</div>
	</body>
	<script src="plugin/jquery-1.12.4/jquery.min.js"></script>
	<script>
        $('#passwordSign').on('blur',function(){
            var firstPass = $('#password').val();
            var thisPass = $(this).val();
            if(thisPass!==firstPass){
                $('#passMsg1').text('两次密码不一致！').fadeIn();
            }else{
                $('#passMsg1').fadeOut();
            }
        })
        $('#username').click(function(){
            $('#usernameMsg').fadeOut();
        })
        $('#password').click(function(){
            $('#passMsg0').fadeOut();
        })
        $('#passwordSign').click(function(){
            $('#passMsg1').fadeOut();
        })
        $('#phoneNo').click(function(){
            $('#phoneMsg').fadeOut();
        })
        $('input[type="submit"]').click(function(){
            var username = $('#username').val();
            var password = $('#password').val();
            var passwordAgain = $('#passwordSign').val();
            var phoneNum = $('#phoneNo').val();
            if(!username){
                $('#usernameMsg').text('请输入用户名！').fadeIn();
                return false;
            }else{
                $('#usernameMsg').fadeOut();
            }
            if(!password){
                $('#passMsg0').text('请输入密码！').fadeIn();
                return false;
            }else{
                $('#passMsg0').fadeOut();
            }
            if(!passwordAgain){
                $('#passMsg1').text('请输入确认密码！').fadeIn();
                return false;
            }else{
                $('#passMsg1').fadeOut();
            }
            if(!phoneNum){
                $('#phoneMsg').text('请输入手机号！').fadeIn();
                return false;
            }else{
                if(!(/^1[3|4|5|7|8][0-9]\d{4,8}$/.test(phoneNum))){
                    $('#phoneMsg').text('手机号格式不正确！').fadeIn();
                    return false; 
                }else{
                    $('#phoneMsg').fadeOut();
                }
            }

            var registerData = {
                'username':username,
                'password':password,
                'phoneNo':phoneNum
            }

            $.ajax({
                url:'/doRegister',
                type:'POST',
                dataType:'json',
                data:registerData,
                error:function(xhr,st,err){
                    $('#resultMsg').text(xhr.statusText).fadeIn();
                },
                success:function(result){
                    if (!result['success']) {
                        $('#resultMsg').text(result['resMes']).fadeIn();
                        return false;
                    }
                    $('.mask').css({'width':$(document).width(),'height':$(document).height()});
                    $('.mask-text').html(result['resMes']);
                    $('.mask').show();
                }
            })
        })
        $('.close').click(function(){
            $('.mask').fadeOut();
        })
	</script>	
</html>